################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exercitii2/Exercitii2/bin/Debug/net7.0
/Exercitii2/Exercitii2/obj
/Exercitii2/.vs
/Guess the number/.vs
/Guess the number/Guess the number/bin/Debug/net8.0
/Guess the number/Guess the number/obj
/Guess the number/Guess the number/obj/Debug/net8.0/ref/Guess the number.dll
